.message {
    margin-bottom: 20;
    width: 30px;
    height: 30px;
    /* background-color: green; */
    border-radius: 20;
    left: 0px;
    top: 20%;
    position: relative;
    font-size: 1.8rem;
    color: orange;
}

.message-container {
    width: 180px;
    padding: 0;
    margin: 0;
}

.col {
    padding: 0;
    width: 20%;
}

.changing {
    color: green;
    font-weight: 600;
}